body {
    width: 80%;
    margin: 0 auto;
    font-family: Nunito, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  table {
    width: 40%;
    border: 2px solid grey;
    border-collapse: collapse;
  }
  
  th {
    background-color: #E6E6FA;
    text-align: left;
  }
  
  th,
  td {
    border: 1px solid grey;
    padding: 1px 10px;
  }
  
  caption {
    caption-side: bottom;
    text-align: center;
    padding-top: 5px;
    font-size: 85%;
    color: #483D8B
  }
  
  span {
    font-size: 85%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(184, 6, 6);
    font-style: oblique;
  }